<%= form_with(model: input, local: true) do |form| %>
  <% if input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(input.errors.count, "error") %> prohibited this input from being saved:</h2>

      <ul>
        <% input.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :product %>
   <%= form.select :product, Product.all.collect { |u| [ "Sku: "+u.sku.to_s+" Batch: "+u.batch_size.to_s, u.sku ] } %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :delivery_date %>
    <%= form.date_select :delivery_date %>
  </div>

  <div class="field">
    <%= form.label :observations %>
    <%= form.text_area :observations %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
